<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="{:get_resource_path()}/static/css/style.css">
    <title>修改密码</title>
</head>
<body>
<form action="?" method="post">
<div align="center">
    <table class="table">
        <th colspan="6">修改密码</th>
        <tr>
            <td>用户名称</td>
            <td><input type="text" name="username" readonly value={$username}></td>
        </tr>
        <tr>
            <td>旧密码</td>
            <td><input type="password" name="password" required="required"></td>
        </tr>
        <tr>
            <td>新密码</td>
            <td><input type="password" name="new_password" required="required"></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
			<input type="hidden" value="submitted" name="action">
			<button type="submit" class="long_button search_after">
				<span><i class="fa fa-save"></i> 修改</span>
			</button></td>
        </tr>
    </table>
</form>
</body>
</html>