<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="{:get_resource_path()}/static/css/top_menu.css?v=11">
	<script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <title>top-menu</title>
</head>
<body>
<div id="user_info">
			欢迎您：{$username}
			<a href="{:url('Login/logout')}" target="_top">
				<span>安全退出</span>
			</a>
			<a href="{:url('Index/change_password')}" target="content_frame">
				<span>修改密码</span>
			</a>
</div>	
<div id="top_menu_item">
    <ul>
        <li>
			<a href="{:url('Index/left_menu')}" target="left_frame" onclick="parent.content_frame.location.href ='{:url('Index/home')}'">
				<button class="button" onclick="changePage(this)"><span>首页</span></button>
		    </a>
		</li>
		{volist  name="menu" id="item"}
		<li>
			<a href="left_menu?pid={$item.id}" target="left_frame">
              		<button class="button" onclick="changePage(this)"><span>{$item.title}</span></button>
            </a>
		</li>
		{/volist}
    </ul>
	<script>
	function changePage(page){
		$(".button").css("border-bottom-color", "transparent");
		$(page).css("border-bottom-color", "white");
	}
	</script>
</div>
</body>
</html>