<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet"  href="{:get_resource_path()}/static/css/style.css">
    <title>结点列表</title>
</head>
<body>
<div align="center">
    <table class="table">
        <th colspan="10">结点列表 （请在技术人员的指导下修改）</th>
        <tr>
            <td>id</td>
            <td>controller</td>
            <td>method</td>
            <td>unicode</td>
            <td>title</td>
            <td>sort</td>
            <td>pid</td>
            <td>level</td>
            <td>备注</td>
            <td colspan="2">
                <a href="create.html">
					<button class="long_button add_after long_button_2">
						<span><i class="fa fa-plus-circle"></i> 添加</span>
					</button>
                </a>
            </td>
        </tr>
        {volist name="admin_node_list" id="node"}
            <tr>
                <td>{$node.id}</td>
                <td>{$node.controller}</td>
                <td>{$node.method}</td>
                <td>{$node.unicode}</td>
                <td>{$node.title}</td>
                <td>{$node.sort}</td>
                <td>{$node.pid}</td>
                <td>{$node.level}</td>
                <td>{$node.remark}</td>
				{neq  name="node.pid" value="-1"}
					<td colspan="2">
						<a href="update.html?id={$node.id}">	
							<button class="button">
								<span>修改</span>
							</button>
						</a>
						<a href="post.html?method=delete&id={$node.id}">
							<button class="button">
								<span>删除</span>
							</button>
						</a>
					</td>
				{/neq}
                
            </tr>
        {/volist}
    </table>
</div>
</body>
</html>