<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="{:get_resource_path()}/static/css/style.css">
    <title>修改结点</title>
</head>
<body>
<div align="center">
	<form action="post.html?method=update&id={$node.id}" method="post">
	
		<table class="table">
			<th colspan="6">修改结点</th>
			<tr>
				<td>controller</td>
				<td><input type="text" name="controller" value={$node.controller}></td>
			</tr>
			<tr>
				<td>method</td>
				<td><input type="text" name="method" value={$node.method}></td>
			</tr>
			<tr>
				<td>unicode</td>
				<td><input type="text" required="required" name="unicode" value={$node.unicode}></td>
			</tr>
			<tr>
				<td>title</td>
				<td><input type="text" required="required" name="title" value={$node.title}></td>
			</tr>
			<tr>
				<td>sort</td>
				<td><input type="num" required="required" name="sort" value={$node.sort}></td>
			</tr>
			<tr>
				<td>pid</td>
				<td>
					<select name="pid">
						{volist name="admin_pnode_list" id="admin_pnode"}
							{neq name="admin_pnode.id" value="$node.id"}
								<option value="{$admin_pnode.id}" 
								{eq name="admin_pnode.id" value="$node.pid"}selected {/eq}
								>L-{$admin_pnode.level},{$admin_pnode.title}</option>
							{/neq}
						{/volist}
					</select>
				</td>
			</tr>
			<tr>
				<td>remark</td>
				<td><input type="text" name="remark" value={$node.remark}></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<button type="submit" class="long_button search_after">
						<span><i class="fa fa-save"></i> 修改</span>
					</button>
				</td>	
			</tr>
		</table>
	</form>
</div>
</body>
</html>