<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="{:get_resource_path()}/static/css/style.css">
    <title>添加管理员</title>
</head>
<body>
<div align="center">
    <form action="post.html?method=create" method="post">
        <table class="table">
            <th colspan="8">添加管理员</th>
            <tr>
                <td>管理员职能</td>
                <td>
					<select name="admin_group_id">
						{volist name="admin_group_list" id="admin_group"}
							<option value="{$admin_group.id}">{$admin_group.title}</option>
						{/volist}
                    </select>
                </td>
            </tr>
            <tr>
                <td>用户名</td>
                <td><input type="text" required="required" name="username" placeholder="new user name"></td>
            </tr>
            <tr>
                <td>用户密码</td>
                <td><input type="password" required="required" name="password" placeholder="new password"></td>
            </tr>
            <tr>
                <td>用户邮箱</td>
                <td><input type="email" name="email" required="required" placeholder="new email"></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
					<button type="submit" class="long_button search_after">
						<span><i class="fa fa-save"></i> 添加</span>
					</button>
				</td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>