<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="{:get_resource_path()}/static/css/style.css">
    <title>修改工作组</title>
</head>
<body>
<div align="center">
    <form action="post.html?method=update&id={$admin_group.id}" method="post">
        <table class="table">
            <th colspan="7">修改工作组</th>
            <tr>
                <td>分组标题</td>
                <td><input type="text" required="required" name="title" value={$admin_group.title}></td>
            </tr>
            <tr>
                <td>分组描述</td>
                <td><textarea required="required" name="description">{$admin_group.description}</textarea></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
					<button type="submit" class="long_button search_after">
						<span><i class="fa fa-save"></i> 修改</span>
					</button>
				</td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>